
/* =================================================
*   Mini Grid System
* ================================================= */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}


@media screen and (min-width: 0px) {
    
    .row {
        margin-left:-6px;
    }
    .col {
        border-left-width:6px;
        padding:0 7.5px;
    }
    
    .span_1 {
        width:10%;
    }
    .span_2 {
        width:20%;
    }
    .span_3 {
        width:30%;
    }
    .span_4 {
        width:40%;
    }
    .span_5 {
        width:50%;
    }
    .span_6 {
        width:60%;
    }
    .span_7 {
        width:70%;
    }
    .span_8 {
        width:80%;
    }
    .span_9 {
        width:90%;
    }
    .span_10 {
        margin-left:0;
        width:100%;
    }
}
/* =================================================
*   Typo
* ================================================= */

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin:3px;
}
h1 {
    font-size:24px;
    overflow:visible;
    color: #4C5154;
}
h2{

}
h3{
    color: #777777;
}

/* =================================================
*   Generic
* ================================================= */
input{
    border-radius: 0;
    background-color: #f6f6f6;
    font-size: 16px;
}

a{
    text-decoration: none;
}
.green{
    color: #64B200;
}
.right-align{
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    margin-top: -10px;    
}
/* =================================================
*   Generic - Icons
* ================================================= */
[class^="icon"], [class*=" icon"] {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
}
.icon-tags {
    background-position: 0 0;
    width: 34px;
}
.icon-credit {
    background-position: -64px 0;
}
.icon-box-add {
    background-position: -128px 0;
}
.icon-dashboard {
    background-position: -192px 0;
}
.icon-lab {
    background-position: -256px 0;
}
.icon-menu {
    background-position: -320px 0;
}

/* =================================================
*  Index Page
* ================================================= */
.login{
    background: url(../img/bg.png) !important;
}
    .login header h1{
        text-align: center;
        padding: 70px 0 70px 0; 
    }
/* =================================================
*   Dashboard Page 
* ================================================= */
.dashboard section{
    text-align: center;
}
    .dashboard h1{
        text-transform: uppercase;
        margin: 0;
        font-size: 14px;
    }
    .dashboard h2{
        font-size: 28px;
    }
    .dashboard h3{
        text-transform: uppercase;
        margin: 0;
    }
    .dashboard section.daily-income{
        background-color: #E3E7EB;
        padding: 10px 0;
        border-bottom: 1px solid #C3C6D0;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    }
    .dashboard .order-control{
        padding: 10px 0 5px 10px;
        border-bottom: 1px solid #F0F1F4;
    }
        .dashboard section.order-control article:nth-child(2){
            border-left: 1px solid #F0F1F4;
        }
        .dashboard .order-control article{
            display: inline-block;
        }
        .dashboard .order-control article.left{
            padding-right: 15px;
        }
        .dashboard .order-control article.right{
            padding-left: 15px;
        }
/* =================================================
*   Products page 
* ================================================= */
.products ul.list li img{
    margin-right: 10px;
}
/* =================================================
*   Settings Product page 
* ================================================= */
.settings .title{
    font-weight: bold;
    margin-bottom: 5px;
}
.bar-title ~ .content.single-product, .bar-tab ~ .content.single-product{
    bottom: 0 !important;
}
/* =================================================
*   Single Product page 
* ================================================= */
.single-product .product-img{
    padding-bottom: 10px;
}    
    .single-product .product-img img{
        text-align: center;
    }
.single-product p#title{
    font-weight: bold;
    padding: 5px 0 5px 0;
}
.single-product #desc{
    margin-top: 5px;
}
.single-product ul.variants{
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.no-margin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/* =================================================
*   Single Order page 
* ================================================= */
.single-order ul.order-summary{
    padding: 15px 20px 20px 10px;
}
    .single-order ul.order-summary li{
        list-style: none;
        margin-bottom: 10px;
    }
        .single-order ul.order-summary li p span{
            position: absolute;
            right: 10px;
            display: block;
            margin-top: -17px;    
        }
.single-order #ordered-items{
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.single-order .order-img{
    position: absolute;
}
.single-order #name{
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 55px;
}
.single-order #address{
    margin-left: 55px; 
    padding-bottom: 10px;
}
/* =================================================
*   Single Order page 
* ================================================= */
#weekly-hits li span{
    position: absolute;
    right: 10px;
    display: block;
    margin-top: -17px;
}
#loader{
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loader.gif') 
                50% 50% 
                no-repeat;
}